.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-row {
    background-color: white;
}

.table-header,
.table-cell {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.table-cell button {
    border: 1px solid #000;
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ade391;
    color: white;
    position: relative;
    margin: 0 auto;
    display: block;
}