.account-content {
    width: 100%;
    height: fit-content;
    border-top: 0.5vh solid #AED391;
    background: rgba(184, 184, 184, 0.1);
    box-shadow: -5px -5px 10px 0px rgba(211, 211, 211, 0.25) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 0.625rem 0.625rem;
    padding: 10.5vh 0 5.6vh 0;
}

.account-content span {
    font-size: clamp(1rem, 2vw, 30px);
    font-weight: bold;
    white-space: nowrap;
    margin-bottom: 3.5vh;
}

.account-inputBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 58.5%;
    height: 12.3%;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

.account-inputBox-bottomRound {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 58.5%;
    height: 12.3%;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.account-inputBox-topRound {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 58.5%;
    height: 12.3%;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-content>div:nth-child(4) {
    border-bottom: none;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
}

.account-content > div > input {
    height: clamp(1rem, 56px, 69px);
    width: 92%;
    padding: 2.4vh 0 2.4vh 2.2vw;
    text-align: left;
    font-size: clamp(0.9rem, 1.3vw, 18px);
    cursor: pointer;
    border: none;
    border-radius: 0.625rem;
}

.account-inputBox > button,
.account-inputBox-bottomRound > button,
.account-inputBox-topRound > button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding-right: 1.5%;
}

.account-inputBox > button > img,
.account-inputBox-bottomRound > button > img,
.account-inputBox-topRound > button > img {
    width: clamp(1rem, 5vw, 30px);
    height: auto;
}

.warningMsg-box{
    width: 58.5%;
    text-align: left;
    margin-top: 0.5vh;
    margin-bottom: 3.0vh;
}

.confirm-button {
    min-width: 130px;
    width: clamp(1rem, 11vw, 189px);
    height: clamp(1rem, 5vh, 56px);
    text-align: center;
    background-color: #aed391;
    border: none;
    color: white;
    font-size: clamp(1rem, 8vw, 18px);
    cursor: pointer;
    border-radius: 5%;
    white-space: nowrap;
    text-overflow: clip;
}