.account-wrapper {
    width: 78vw;
    height: 63vh;
    margin: 7vh auto 0 auto;
}

.account-switchBtns-container {
    width: 100%;
    height: fit-content;
    gap: 7px;
    display: flex;
}

.account-switchBtns-container button {
    flex: 1;
    padding: 1.38rem 0;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #BAB4B4;
    border-left: 3px solid #BAB4B4;
    border-right: 3px solid #BAB4B4;
    border-bottom: none;
    border-radius: 0.625rem 0.625rem 0 0;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 20px);
    cursor: pointer;
}

.pickIcon {
    transform: translate(0, -10%);
    vertical-align: middle;
    margin-right: 5px;
    width: 1.6vw;
    height: 2.3vh;
}