.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.main-content > p {
    margin-top: 74px;
    font-size: 32px;
}

.option-logo-container {
    text-align: center;
    flex-grow: 1;
}

.option-logo-container > img {
    width: 280px;
    height: 218px;
}

.option-btn-container {
    margin-top: 83px;
    z-index: 100;
}

.option-btn-container > * {
    margin-left: 92px;
    margin-right: 92px;
}

.default-link-styles {
    text-decoration: none;
    display: inline-block;
}

@media (max-width: 768px) {
    .main-content > p {
        margin-top: 75px;
        font-size: 15px;
    }
    .option-logo-container > img {
        width: 94px;
        height: 67px;
    }
}