.table-wrapper {
    width: 1180px;
    overflow-x: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-row {
    background-color: white;
}

.table-header,
.table-cell {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.table-cell button {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    position: relative;
    margin: 0 auto;
    display: block;
}

.DetailButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.DetailButton {
    font-size: 26px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .table-cell:nth-child(4),
    .table-header:nth-child(4),
    .table-cell:nth-child(5),
    .table-header:nth-child(5),
    .table-cell:nth-child(6),
    .table-header:nth-child(6) {
        display: none;
    }
    .table-wrapper {
        width: 85%;
        overflow-x: auto;
        margin: 0 auto;
    }
}