.citizenTable {
    width: 82vw;
    height: 53.22vh;
    margin: 4.05vh auto 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.citizenTable>thead>tr {
    display: table;
    width: 100%;
    height: 6vh;
}

.citizenTable>thead>tr>th:nth-child(1) {
    border-top-left-radius: 0.625rem;
}

.citizenTable>thead>tr>th:nth-child(4) {
    border-top-right-radius: 0.625rem;
}

.citizenTable th,
.citizenTable td {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.citizenTable>thead>tr>th {
    font-size: 1.3vw;
    background-color: #aed391;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
}

.citizenTable>tbody {
    display: block;
    overflow-y: scroll;
    height: 47.2vh;
    max-height: 55vh;
    background: rgba(184, 184, 184, 0.1);
    box-shadow: -5px -5px 10px 0px rgba(211, 211, 211, 0.25) inset;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

.citizenTable>tbody>tr {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 8.78vh;
}

.citizenTable>tbody>tr>td {
    font-size: 1.3vw;
}

.citizenTable tr:not(:last-child) {
    border-bottom: 1px solid #bab4b4;
}

.citizenTable>thead>tr>th:nth-child(1),
.citizenTable>tbody>tr>td:nth-child(1) {
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.citizenTable>thead>tr>th:nth-child(2),
.citizenTable>tbody>tr>td:nth-child(2) {
    width: 21%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.citizenTable>thead>tr>th:nth-child(3),
.citizenTable>tbody>tr>td:nth-child(3) {
    width: 12.5%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.citizenTable>tbody>tr>td:nth-child(4),
.citizenTable>thead>tr>th:nth-child(4) {
    width: 56.5%;
}

.DetailButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1.3vw;
    text-align: left;
}

.DetailContext {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DetailButton {
    font-size: 1.8vw;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 768px) {
    .citizenTable {
        width: 77.1vw;
        height: 51.9vh;
    }
    .citizenTable>thead>tr>th:nth-child(1),
    .citizenTable>tbody>tr>td:nth-child(1) {
        width: 20%;
    }
    .citizenTable>thead>tr>th:nth-child(2),
    .citizenTable>tbody>tr>td:nth-child(2) {
        width: 50%;
    }
    .citizenTable>thead>tr>th:nth-child(3),
    .citizenTable>tbody>tr>td:nth-child(3) {
        width: 30%;
    }
    .citizenTable>tbody>tr>td:nth-child(4),
    .citizenTable>thead>tr>th:nth-child(4) {
        display: none;
    }
    .citizenTable>tbody {
        display: block;
        overflow-y: scroll;
        max-height: 70vh;
    }
}
