.citizenTable-wrapper {
    width: 90.3%;
    margin: 0 auto;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .citizenTable-wrapper {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.citizenTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid black;
}

.citizenTable > thead > tr {
    display: table;
    width: 100%;
    height: 6vh;
}

.citizenTable th,
.citizenTable td {
    text-align: center;
    white-space: nowrap;
}

.citizenTable > thead > tr > th {
    background: white;
    border: 0.1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.citizenTable > tbody {
    display: block;
    overflow-y: scroll;
    max-height: 55vh;
}

.citizenTable > tbody > tr {
    display: table;
    width: 100%;
}

.citizenTable > tbody > tr > td {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0.1px solid black;
}

.citizenTable > thead > tr > th:nth-child(1),
.citizenTable > tbody > tr > td:nth-child(1) {
    width: 10%;
}
.citizenTable > thead > tr > th:nth-child(2),
.citizenTable > tbody > tr > td:nth-child(2) {
    width: 20%;
}

.citizenTable > thead > tr > th:nth-child(3),
.citizenTable > tbody > tr > td:nth-child(3) {
    width: 10%;
}

.citizenTable > tbody > tr > td:nth-child(4),
.citizenTable > thead > tr > th:nth-child(4){
    width: 60%;
}

.citizenTable-cell button {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    position: relative;
    margin: 0 auto;
    display: block;
}

.DetailButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: left;
    /* width: inherit; */
}

.DetailButton {
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 768px) {
    .citizenTable > thead > tr > th:nth-child(1),
    .citizenTable > tbody > tr > td:nth-child(1) {
        width: 20%;
    }
    .citizenTable > thead > tr > th:nth-child(2),
    .citizenTable > tbody > tr > td:nth-child(2) {
        width: 50%;
    }

    .citizenTable > thead > tr > th:nth-child(3),
    .citizenTable > tbody > tr > td:nth-child(3) {
        width: 30%;
    }

    .citizenTable > tbody > tr > td:nth-child(4),
    .citizenTable > thead > tr > th:nth-child(4){
        display: none;
    }

    .citizenTable-wrapper {
        width: 85%;
        margin: 0 auto;
    }
    .citizenTable > tbody {
        display: block;
        overflow-y: scroll;
        max-height: 70vh;
    }
}