.loading-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-wrapper img {
    width: 12rem;
    height: 12rem;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 60px;
    overflow-x: auto;
    scrollbar-width: none;
}


@media (max-width: 768px) {
    .filter-buttons {
        display: flex;
    }
}
  
.filter-button {
    min-width: 85px;
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 50px;
    padding: 6px 10px;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 3vw;
    text-align: center;
}
  
.filter-button.active {
    min-width: 85px;
    background-color: #95d1d9;
    border: none;
    border: 1px solid #95d1d9;
    border-radius: 50px;
    color: white;
    padding: 6px 10px;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 3vw;
    text-align: center;
}
  
.filter-button img {
    margin-right: 4px;
}
