.citizenInfor-wrapper {
    width: 22.75rem;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    margin-top: 1.005rem;
}

.infor-wrapper {
    display: flex;
    margin-top: 3.56rem;
    flex-direction: column;
    justify-content: center;
}

.category-wrapper {
    width: 18rem;
    margin: 0 auto;
    margin-bottom: 0.38rem;
}

.category-wrapper img {
    margin-right: 0.19rem;
}

.category-wrapper p {
    display: inline-block;
    margin: 0;
    color: #878485;
    font-size: 1.375rem;
}

.content-wrapper {
    width: 18rem;
    margin: 0 auto;
    margin-bottom: 0.81rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.content-wrapper span {
    display: inline-block;
    font-size: 1.125rem;
    margin: 0;
    margin-bottom: 0.2rem;
    padding-left: 0.2rem;
}

.content-wrapper input,
.inforCounselTextarea {
    display: inline-block;
    font-size: 1.125rem;
    margin: 0;
    margin-bottom: 0.2rem;
    padding-left: 0.2rem;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

.inforCounselTextarea {
    resize: none;
}

.inforCounselTextarea::-webkit-scrollbar {
    display: none;
}

.btn-wrapper {
    width: 18rem;
    margin: 0 auto;
    margin-bottom: 1.37rem;
    height: 7%;
    display: flex;
    justify-content: flex-end;
    gap: 0.37rem;
}

.btn-wrapper button {
    width: 4.25rem;
    height: 1.8125rem;
    border-radius: 0.3125rem;
    border: none;
    background-color: #95d1d9;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .btn-wrapper {
        display: none;
    }
    .citizenInfor-wrapper {
        border: none;
    }
}