.citizenCounselList-wrapper {
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.ment-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0.5rem 0;
}

.ment-wrapper p,
.ment-wrapper span {
  display: inline-block;
  font-weight: bold;
}

.citizenName {
  font-size: 2.5vw;
  margin: 0;
}

.citizensCounList {
  font-size: 1.5vw;
  margin: 1rem 0 0 0;
}

.list-wrapper {
  width: 35vw;
  max-height: 50vh;
  overflow-y: auto;
  margin: 0 auto;
  border-radius: 0.625rem;
}

.list-wrapper::-webkit-scrollbar {
  display: none;
}

.counselTable {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1vw;
}

.counselTable thead {
  height: 5vh;
}

.counselTable th,
.counselTable td {
  text-align: center;
  vertical-align: middle;
  padding: 8px 0;
  white-space: nowrap;
}

.counselTable th {
  position: sticky;
  top: 0;
  padding: 0;
  background: #fff;
  padding-top: 1.3rem;
  padding-bottom: 1.2rem;
  background-color: #aed391;
  color: #fff;
  font-size: 1.5vw;
}

.counselTable tbody {
  background: rgba(184, 184, 184, 0.1);
  box-shadow: -5px -5px 10px 0px rgba(211, 211, 211, 0.25) inset;
}

.counselTable td {
  white-space: pre-wrap;
}

.counselTable tr:not(:last-child) {
  border-bottom: 1px solid #bab4b4;
}

.counselTable tr {
  height: 3rem;
}

.conselTakingDrug-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.2rem;
}

.inquiry-btn {
  width: 4.5625rem;
  height: 1.6875rem;
  border-radius: 3.125rem;
  border: 1px solid #000;
  font-size: 0.875rem;
  padding-top: 0.3rem;
  background-color: white;
  cursor: pointer;
}

.DetailButton {
  font-size: 1vw;
}

@media (max-width: 768px) {
  .citizenCounselList-wrapper {
    margin-top: 1rem;
    margin: 0 auto;
    width: 95%;
  }
  .citizensCounList {
    font-size: 1.25rem;
    margin: 0.5rem 0 0 0;
  }
  .list-wrapper {
    min-width: 20rem;
    width: 95%;
    max-height: 55vh;
  }
  .citizenName {
    font-size: 2rem;
  }
  .counselTable th,
  .counselTable td {
    font-size: 0.7rem;
  }
  .conselTakingDrug-wrapper {
    margin-left: 0.5rem;
  }
  .write-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .DetailButton {
    font-size: 0.7rem;
  }
  @media (max-height: 670px) {
    .list-wrapper {
      max-height: 45vh;
    }
  }
}
