.coun-criteria {
    width: 7.8125rem;
    height: 2.75rem;
    margin-right: 0.62rem;
    padding-left: 0.56rem;
    padding-top: 0.2rem;
    font-size: 1.25rem;
    border: 1px solid #000;
    outline: none;
}