* {
  box-sizing: border-box;
}

.citizenCounselList-wrapper {
  width: 41.5625rem;
  height: 29.9375rem;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.searchBar-wrapper {
  width: 41.5625rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.38rem;
}

.searchBar {
  width: 20.9375rem;
  height: 2.75rem;
  border: 1px solid #000;
  border-right: none;
  outline: none;
}

.search-img {
  height: 2.75rem;
  border: 1px solid #000;
  border-left: none;
  margin-right: 2rem;
}

.list-wrapper {
  width: 41.5625rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.25rem;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
  padding: 8px;
}

th {
  padding-top: 20px;
  padding-bottom: 20px;
}

.inquiry-btn {
  width: 4.5625rem;
  height: 1.6875rem;
  border-radius: 3.125rem;
  border: 1px solid #000;
  font-size: 0.875rem;
  background-color: white;
}

@media (max-width: 768px) {
  .citizenCounselList-wrapper {
    margin-top: 1rem;
  }
  .citizenCounselList-wrapper,
  .searchBar-wrapper,
  .searchBar,
  .search-img,
  .list-wrapper {
    width: 100%;
  }
  table,
  .inquiry-btn {
    font-size: 0.9rem;
  }
  .searchBar {
    flex-shrink: 1;
  }
  .search-img {
    flex-shrink: 3;
  }
}
