.search-bar-container {
    align-items: center;
    gap: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
  
.search-input-container {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
}

.search-input-container input {
    width: 100%;
    border: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
}

.sort-container {
    width:fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    margin-left: 20px;
}

.sort-container p {
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid black;
}

.search-icon {
    border-left: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.sort-icon {
    padding: 5px;
    cursor: pointer;
}

.plus-icon {
    border: 1px solid black;
    padding: 12px;
    margin-left: 20px;
}
