.header-container {
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
  
.logo-container {
  text-align: center;
  flex-grow: 1;
}

.logo {
  width: 15%;
  height: auto;
}

.home-button {
  margin-right: 20px; /* 조절 가능 */
}

@media (max-width: 768px) {
  .logo {
      width: 20%;
  }
  .home-button {
    display: none;
  }
}
