.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../main/img_main_background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    min-height: 100%;
    position: relative;
}

.logo-container > img {
    width: 280px;
    height: 218px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.option-btn-container {
    margin-top: 83px;
}

.option-btn-container > * {
    margin-left: 92px;
    margin-right: 92px;
}