.logo-container {
    text-align: center;
    flex-grow: 1;
}

.logo-container > img {
    width: 280px;
    height: 218px;
}

.logout {
    position: absolute;
    top: 0;
    right: 0;
    width: 8.6vw;
    height: 3vh;
    margin-top: 3vh;
    margin-right: 2.5vw;
}

@media (max-width: 768px) {
    .logo-container > img {
        width: 94px;
        height: 67px;
    }
}

.header-container {
    position: relative;
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 12vw;
    height: 13vh;
    
}

.my-header-container {
    width: 100vw;
    height: 16.7vh;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    flex-direction: row;
    background-color: rgba(174, 211, 145, 0.08);
    justify-content: flex-start;
    align-items: center;
}
.home-button {
    margin-left: 1.66vw;
    margin-right: 13.2vw;
}

.my-logo-container {
    width: fit-content;
    height: 100%;
    flex-grow: 1;
}
.my-logo-container > img {
    width: 70%;
    height: 70%;
}
.subMenu-container {
    /* position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 86.8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 19vw;
    gap: 11vw;
}

@media (max-width: 768px) {
    .logo-container > img {
        width: 94px;
        height: 67px;
    }
    .logo {
        width: 94px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(200%, 0%);
    }
    .my-header-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        justify-content: flex-start;
        align-items: center;
    }
    .subMenu-container {
        display: none;
    }
    .logout {
        width: 19.3vw;
        height: 1.9vh;
        margin-top: 2.3vh;
        margin-right: 4.3vw;
    }
}

.subMenu-container a {
    color: #5E5E5E; /* 기본 텍스트 색상 */
    font-size: 1.6vw; /* 텍스트 크기 */
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}

.subMenu-container a:after {
    content: "";
    display: block;
    width: 202px;
    color: #95D1D9;
    left: 50%;
    transform: translate(0%, 1350%);
}

.subMenu-container .drugActive:after {
    content: '';
    display: block;
    width: 202px;
    color: #95D1D9;
    border-bottom: 5px solid currentColor;
    transform: translate(-20%, 1350%);
}

.subMenu-container .citizenActive:after {
    content: '';
    display: block;
    width: 202px;
    color: #95D1D9;
    border-bottom: 5px solid currentColor;
    transform: translate(-25%, 1350%);
}

.subMenu-container .accountActive:after {
    content: '';
    display: block;
    width: 14vw;
    background-color: currentColor;
    border-bottom: 5px solid currentColor;
    transform: translate(0%, 5.85vh);
}