.criteriaStyle {
    width: 33.7%;
    height: 100%;
    text-align: left;
    font-size: clamp(1rem, 1.5vw, 18px);
    padding-left: 3%;
    outline: none;
    border-radius: 1.25rem;
    border: 2px solid #aed391;
}

/* .citizen-criteriaStyle {
  width: clamp(80px, 33.7%, 150px);
  height: 100%;
  text-align: left;
  font-size: clamp(1rem, 1.5vw, 18px);
  padding-left: 12px;
  outline: none;
  border-radius: 1.25rem;
  border: 2px solid #aed391;
} */

.icon-wrapper {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(
    270deg,
    #aed391 -1.77%,
    #a9d3a1 20.55%,
    #a5d2ab 35.26%,
    #a2d2b3 46.42%,
    #9dd2c1 65.69%,
    #99d1cc 94.6%,
    #95d1d9 99.67%
  );
  border-radius: 50%;
  @media (max-width: 768px) {
    margin-left: 0px;
    height: 80%;
  }
}

#plusIcon-wrapper {
  @media (max-width: 768px) {
    margin-left: 4px;
  }
}
