.searchBar-wrapper {
    width: 41.5625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1.38rem;
}

.searchForm {
    display: flex;
    align-items: center;
}

.coun-criteria {
    font-size: 1.25rem;
    cursor: pointer;
}

.search-wrapper {
    display: flex;
    width: 25.6275rem;
    height: 2.75rem;
    border: 1px solid #000;
    margin-left: 1.56rem;
}

.search-wrapper-focused {
    display: flex;
    width: 25.6275rem;
    height: 2.75rem;
    border: 2px solid #000;
    margin-left: 1.56rem;
}

.searchBar {
    width: 22.8775rem;
    outline: none;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    font-size: 1.25rem;
    border: none;
}

.search-img {
    width: 2.75rem;
    height: 100%;
    padding: 0.3rem;
    cursor: pointer;
}

.search-img-focused {
    width: 2.65rem;
    height: 100%;
    padding: 0.2rem 0.2rem 0.2rem 0.3rem;
    cursor: pointer;
}

.write-img {
    width: 2.1rem;
    height: 2.1rem;
    margin-left: 0.5rem;
    display: none;
}

.searchBtn {
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 2.75rem;
}

@media (max-width: 768px) {
    .searchBar-wrapper {
        width: 95%;
    }
    .search-wrapper {
        margin-left: 1rem;
        width: 90%;
    }
    .search-wrapper-focused {
        margin-left: 1rem;
        width: 90%;
    }
    .searchBar {
        width: 90%;
    }
    .write-img {
        display: block;
    }
    .searchBar {
        flex-shrink: 1;
    }
    .search-img {
        flex-shrink: 3;
    }
    .coun-criteria {
        font-size: 1rem;
    }
}