.searchBar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.38rem;
}

.searchForm {
    display: flex;
    align-items: center;
    width: 35vw;
    height: 4.2vh;
}

.coun-criteria {
    height: 100%;
    padding-left: 0.56rem;
    padding-top: 0.2rem;
    outline: none;
    border: 2px solid #aed391;
    background: #fff;
    border-radius: 1.25rem;
    font-size: clamp(12px, 1vw, 18px);
    cursor: pointer;
}

.search-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    width: 70%;
    height: 100%;
}

.searchBar {
    padding-left: 3%;
    background: #fff;
    border-radius: 1.25rem;
    border: 2px solid #aed391;
    width: 100%;
    font-size: clamp(12px, 1vw, 18px);
}

.searchBtn {
    background: linear-gradient( 270deg, #aed391 -1.77%, #a9d3a1 20.55%, #a5d2ab 35.26%, #a2d2b3 46.42%, #9dd2c1 65.69%, #99d1cc 94.6%, #95d1d9 99.67%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: clamp(8px, 1.2vh, 40px);
    padding: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.search-img {
    width: 65%;
    height: 65%;
    cursor: pointer;
}

.write-img {
    height: 100%;
    aspect-ratio: 1 / 1;
    background: linear-gradient( 270deg, #aed391 -1.77%, #a9d3a1 20.55%, #a5d2ab 35.26%, #a2d2b3 46.42%, #9dd2c1 65.69%, #99d1cc 94.6%, #95d1d9 99.67%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: clamp(8px, 1vh, 40px);
}

.write-img img {
    width: 65%;
    height: 65%;
}

@media (max-width: 768px) {
    .searchBar-wrapper {
        width: 100%;
        margin-bottom: 1.38rem;
    }
    .searchForm {
        width: 95%;
        height: 4.2vh;
    }
    .search-wrapper {
        margin-left: 1rem;
        width: 90%;
    }
    .searchBar {
        /* margin-right: 0.5rem; */
        flex-shrink: 1;
    }
    .write-img {
        display: block;
    }
    .sear .searchBtn {
        width: 2.75rem;
    }
    .search-img {
        flex-shrink: 3;
    }
}