@font-face {
  font-family: "Gmarket Sans";
  src: url("./fonts/GmarketSansTTFMedium.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Gmarket Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
