@font-face {
    font-family: "Gmarket Sans";
    src: url("./fonts/GmarketSansTTFMedium.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: "Gmarket Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.goto-back {
    position: absolute;
    top: 16px;
    left: 20px;
    cursor: pointer;
    display: none;
}

.loading-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-wrapper img {
    width: 12rem;
    height: 12rem;
}

@media (max-width: 768px) {
    .goto-back {
        display: block;
    }
}

* {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}