.drugList-wrapper {
    max-height: 400px;
    overflow: auto;
    border: 1px solid black;
}
.drugList-wrapper::-webkit-scrollbar {
    border: 0px solid #9b6a2f;
}
.drugList-wrapper::-webkit-scrollbar-thumb {
    background: gray;
}
.drugList-wrapper::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);
}

.drugTable {
    width: fit-content;
    border-collapse: collapse;
}

.drugTable th,
.drugTable td {
  text-align: center;
  white-space: nowrap;
}

.drugTable > thead > tr > th {
    position: sticky;
    top: 0;
    font-weight: bold;
    font-size: 24px;
    padding: 0;
}
.drugTable > thead > tr > th > div {
    border: 1px solid black;
    background: white;
    padding: 30px 0;
}

.drugTable > tbody > tr > td {
    font-size: 20px;
    padding: 15px 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.drugTable > tbody > tr.add {
    background-color: rgba(217, 217, 217, 0.5);
}
.drugTable > tbody > tr.modify {
    background-color: rgba(149, 209, 217, 0.5);
}

/* .drugTable-row {
    background-color: white;
}
.drugTable-row.add {
    background-color: rgba(217, 217, 217, 0.5);
}
.drugTable-row.modify {
    background-color: rgba(149, 209, 217, 0.5);
}

.drugTable-header {
    padding: 0;
    font-size: 28px;
    width: 20%;
    font-weight: bold;
    position: sticky;
    top: 0px;
}
.drugTable-header-container {
    border: 1px solid black;
    background: white;
    padding: 30px 0;
    white-space: nowrap;
}
.drugTable-header-container span {
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

.drugTable-cell {
    border: 1px solid black;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
} */

.usableAmount-cell {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.usableAmount-cell button {
    width: 25px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 100%;
    color: white;
    background-color: #AED391;
    border: none;
    cursor: pointer;
}