.upload-container {
    width: 50%;
    height: 100%;
    border: 1px solid black;
}
.contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 78%;
    width: 94%;
    background-color: white;
    border: 3px dashed #eee;
    transition: background-color 0.5s ease;
    padding: 3px;
    margin: 11px 2.4%;
}
.contents:hover {
    background-color: #efeef3;
    border-color: #606060;
}
.contents.active {
    background-color: #efeef3;
    border-color: #606060;
}

.upload-icon-container {
    width: 100%;
    height: 22.9%;
}

.upload-container img {
    width: 1.38vw;
    height: 2.92vh;
    vertical-align: bottom;
}

.upload-container span {
    font-size: 1.3vw;
}

.upload-container p {
    font-size: 1.3vw;
    align-self: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}
.upload-btns-container {
    display: flex;
    align-self: flex-end;
    height: 35.92%;
    gap: 7px;
}
.upload-container button {
    width: 7.01vw;
    height: 100%;
    font-size: 1.3vw;
    color: white;
    background-color: #aed391;
    align-self: flex-end;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items:center;
    justify-content:center;
}
.upload-container button.active {
    display: block;
}
.upload-container button.inactive {
    visibility: hidden;
}