.upload-container {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    padding: 11px 14px;
}
.contents {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px dashed #eee;
    transition: background-color 0.5s ease;
    padding: 3px;
}
.contents:hover {
    background-color: #efeef3;
    border-color: #606060;
}
.contents.active {
    background-color: #efeef3;
    border-color: #606060;
}

.upload-container img {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    cursor: pointer;
}
.upload-container span {
    font-size: 20px;
}
.upload-container p {
    font-size: 20px;
    align-self: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin: 12px;
}
.upload-container button {
    width: 104px;
    height: 37px;
    font-size: 20px;
    color: white;
    background-color: #aed391;
    align-self: flex-end;
    border: 0px;
    border-radius: 10px 10px;
    cursor: pointer;
}